<main role="main">
  <section class="jumbotron text-center bg-darker-blog">
    <div class="container">
      @if (isLoading()) {
        <div class="py-5 text-light">
          <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      } @else if (error()) {
        <div class="py-5">
          <div class="alert alert-warning">{{ error() }}</div>
        </div>
      } @else {
        @if (latestFour().length > 0) {
          <section class="py-4">
            <div class="row gx-5">
              <div class="col-md-6 mb-4">
                <div
                  class="bg-image ripple shadow-2-strong rounded-5"
                  data-mdb-ripple-color="light"
                >
                  <img
                    [src]="latestFour()[0].image"
                    class="img-fluid"
                    [alt]="latestFour()[0].title"
                  />
                </div>
              </div>

              <div class="col-md-6 mb-4 text-light">
                <h4>
                  <strong>{{ latestFour()[0].title }}</strong>
                </h4>
                <span class="badge bg-info mb-2">{{
                  latestFour()[0].category
                }}</span>
                <div [innerHTML]="latestFour()[0].text | markdown"></div>
                <a
                  [routerLink]="['/blog', latestFour()[0].slug]"
                  class="btn btn-light mt-3"
                >
                  {{ latestFour()[0].button }}
                </a>
              </div>
            </div>
          </section>
        }

        @if (latestFour().length > 1) {
          <section>
            <div class="row gx-lg-5">
              @for (
                article of latestFour().slice(1);
                track trackById($index, article)
              ) {
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <div>
                    <div
                      class="bg-image shadow-1-strong ripple rounded-5 mb-4"
                      data-mdb-ripple-color="light"
                    >
                      <img
                        [src]="article.image"
                        [alt]="article.title"
                        class="img-fluid"
                      />
                    </div>

                    <div class="row mb-3">
                      <div class="col-6">
                        <a
                          [routerLink]="['/blog', article.slug]"
                          class="text-info"
                        >
                          <i class="fas fa-code"></i>
                          {{ article.category }}
                        </a>
                      </div>
                      <div class="col-6 text-end text-light">
                        {{ article.publishedAt | date: "dd.MM.yyyy" }}
                      </div>
                    </div>

                    <a
                      [routerLink]="['/blog', article.slug]"
                      class="text-light text-decoration-none"
                    >
                      <h5>{{ article.title }}</h5>
                      <div [innerHTML]="article.text | markdown"></div>
                    </a>
                  </div>
                </div>
              }
            </div>
          </section>
        }
      }
    </div>
  </section>
</main>
