<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand">
        <a href="https://patryksadowski.pl">
          <img
            class="logo-blog"
            width="40"
            alt="Tech Blog Logo"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
          />
        </a>
      </span>
      <button
        class="navbar-toggler hidden-sm-up"
        type="button"
        (click)="isNavbarCollapsed = !isNavbarCollapsed"
        data-target="#navbarsDefault"
        aria-controls="navbarsDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        [ngbCollapse]="isNavbarCollapsed"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <ng-container *ngFor="let link of links">
            <li
              *ngIf="link.dropdown"
              class="nav-item dropdown"
              ngbDropdown
            >
              <a
                class="nav-link active dropdown-toggle"
                ngbDropdownToggle
                [href]="link.fragment"
              >{{link.title}}</a>
              <div
                class="dropdown-menu"
                aria-labelledby="id01"
                ngbDropdownMenu
              >
                <a
                  class="dropdown-item"
                  *ngFor="let item of link.dropdown"
                  [href]="item.fragment"
                >{{item.title}}</a>
              </div>
            </li>
            <li
              *ngIf="!link.dropdown"
              class="nav-item"
            >
              <a
                class="nav-link active"
                [href]="link.fragment"
              >{{link.title}}</a>
            </li>
          </ng-container>
        </ul>
        <form class="d-flex input-group w-auto">
          <input
            type="search"
            class="form-control"
            placeholder="Type query"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-primary"
            type="button"
          >
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
