.topbar {
  background-color: #212529;
  padding: 0;
}

.topbar .container .row {
  margin: -7px;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
  border: 0px solid #110f16;
  padding: 5px 0 0;
  width: 32px;
  text-align: center;
  height: 32px;
  vertical-align: baseline;
  color: #000;
}

ul.social-network {
  list-style: none;
  margin: 5px 0 10px -25px;
  float: right;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: 0.3s ease-out;
  color: #fff;
}

.mx-background-top-linear {
  background: -webkit-linear-gradient(45deg, #110f16 48%, #212529 48%);
  background: -webkit-linear-gradient(left, #110f16 48%, #212529 48%);
  background: linear-gradient(45deg, #110f16 48%, #212529 48%);
}
