<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <a
        mdbRipple
        class="btn btn-outline-light btn-floating m-1"
        role="button"
        *ngFor="let icon of icons"
        [href]="icon.link"
      ><i class="fab {{icon.icon}}"></i></a>
    </section>
  </div>
  <div class="text-center p-3">
    © Copyright • <a
      class="text-gray"
      href="https://patryksadowski.pl"
    >Patryk Sadowski</a>
  </div>
</footer>
