<section class="bg-dark-blog">
  <div class="container py-4">
    <h1 class="h1 text-center text-white" id="pageHeaderTitle">About me</h1>

    <article class="postcard bg-dark-blog blue">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="/assets/svg/about-me.svg"
          alt="software developer background" />
      </a>
      <div class="postcard__text">
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          I am software developer from Poland, who mostly focuses on web
          development and ai.
        </div>
      </div>
    </article>
  </div>
</section>
